*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
  }
  
 
 
 
:root {
  --color-bg: rgb(47, 0, 90);
 
}

body {
  margin-top: 95px;
  font-family: Rubik;
  display: grid;
  place-items: center;
  background-color: var(--color-bg);
  color: #fff;
  overflow: scroll;
  user-select: none;
}



.calc{
  position: relative;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  z-index: 1;
}

.display{
  position: relative;
  height: 7rem;
}

.screen {
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: scroll;
  text-align: right;
}

.searchBox {
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: right;
}

#amount{
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: right;
}

#bill_amount{
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: right;
}

.wrapper form{
  margin: 40px 0 20px 0;
}
form :where(input, select){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
  text-align:center;
  font-weight:700;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #675AFE;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
  color: #fff;
}
.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
  color:#3AD2FF;
}
form .exchange-rate{
  font-size: 17px;
  text-align:center;
  color: rgb(10, 251, 130) ;
}

.select-box:hover{
background: rgb(10, 251, 130) ;
}

select:hover{
color: green;

}

.operators{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: -1;
}


.operators2{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 240px;
  z-index: -1;
}

.operators3{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 240px;
  z-index: -1;
}

.con1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
 
}


.buttons{
  height: 25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
 
}

.buttons2{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
 border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
}

.buttons3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
}

.buttons4{
  display: grid;
  background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  grid-template-columns: repeat(1, 1fr);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
}

.buttons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 1.2em;
}


.buttons > div:active {
  background-color: rgba(255, 255, 255, 0.5);
}

sup{
  font-size: 0.8em;
  transform: translateY(-6px);
}

.buttons .del:hover{
background: rgba(243, 0, 75, 1);
border-top-right-radius:1rem;
color: darkred;
}

.buttons .sign:hover{
background:rgb(10, 251, 130);
color: green; 
}


.buttons .num:hover{
background: #3AD2FF;
color: #4682B4;
}

input[type="number"]{
background-color: transparent;
border: none;
outline: none;
color: #3AD2FF;
}

input[type="text"]{
background-color: transparent;
border: none;
outline: none;
color: #3AD2FF;
}


svg{
position: fixed;
display: flex;
top:0;
left: 0;
padding: 15px;
color:rgb(10, 251, 130);
}




.rotate:hover{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color:rgb(10, 251, 130);
  transition:.5s ease-in-out;
}



.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  vertical-align:middle;
  margin:-6px 4px 0 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18.5px;
  width: 18.5px;
  left: 3px;
  bottom: 3.1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(10, 251, 130);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(10, 251, 130);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.setting {
 position: relative;
 display: inline-block;
}


.setting .tooltiptext {
 display: none;
 width: 230px;
 background-color: #333;
 color: #fff;
 text-align:left;
 border-radius: 6px;
 padding: 10px;
 font-size:20px;
 font-family: "Rubik", sans-serif; 
 /* Position the tooltip */
 position: fixed;
 z-index: -1;
 margin-top:45px;
 left: 1%;
 
}

.setting:hover .tooltiptext {
 display: block;
}

.input-group-text{
font-size: 18px;
 text-align: left;
 padding: 6.5px;
 font-weight: bold;
 margin: 2px;
}

.sel3{
height: 4rem;
background: transparent;
  border-radius: 8px;
  overflow: hidden;
  cursor: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
}


.sel3{
margin-left: 0;

}





.sel3:hover{
background-color:rgb(10, 251, 130);
color: green;
}

.btn,.btn3{
background: transparent;
height:5rem;
  overflow: hidden;
  cursor: none;
  border: none;
  outline: none;
  font-size:1.2rem;
  font-weight:500;
  color: #fff; 
  border-radius:2px;
 font-family: Rubik;
}




.btn5,.btn4,.cal-btn,.reset-btn{
background-color: transparent;
height:3rem;
  overflow: hidden;
  cursor: none;
  border: none;
  outline: none;
  font-size:1.2rem;
  font-weight:500;
  color: #fff;
  padding: 10px;
  border-radius:2px;
 font-family: Rubik;
}

#btn1:hover{
background: #3AD2FF;
color:  #4682B4;
}

.cal-btn:hover{
background:rgb(10, 251, 130);
color: green;
}

.reset-btn:hover{
background:rgb(10, 251, 130);
color: green;
}


.btn3:hover{
background: rgba(243, 0, 75, 1);
color: darkred;
}
#btn2:hover{
background:rgb(10, 251, 130);
color: green;
}



.btn5:hover{
background: rgba(243, 0, 75, 1);
color: darkred;
}

.finalValue{
color:rgb(10, 251, 130);

}

#final_amount,#discount_amount{
color:rgb(10, 251, 130);
font-size:20px;
font-weight:700;
}

#bill_amount{
color:#3AD2FF;
}


.items-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  left:0;
  text-align: center;
  
}
.items-container--top {
  position: fixed;
  top: 0;
}
.navs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #fff;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
  font-weight:700;
  
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.6;
  color: #212121;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.active, .navs:hover {
  color: rgb(10, 251, 130);
  background: none;
  transition: all 0.5s ease;
  border-bottom: 5px solid rgb(10, 251, 130);
}


a{
text-decoration: none;
}

.cal-btn,.reset-btn,.btn,.sign{
color:rgb(10, 251, 130);
}

#backSpace,.del{
 color: rgba(243, 0, 75, 1);

}

#backSpace:hover{
color: darkred;

}

.clrbox{
display:flex;

}

.clr1{
height: 30px;
width: 30px;
border-radius:100%;
background: var(--color-bg);
margin: 2px;
}

.clr2{
height: 30px;
width: 30px;
border-radius:100%;
background: #0f4075;
margin: 2px;
}

.clr3{
height: 30px;
width: 30px;
border-radius:100%;
background: #1a1940;
margin: 2px;
}

.clr4{
height: 30px;
width: 30px;
border-radius:100%;
background: #001923;
margin: 2px;
}




.clr1:hover{
  border: 3px solid rgb(10, 251, 130);

}

.clr2:hover{
  border: 3px solid rgb(10, 251, 130);

}

.clr3:hover{
  border: 3px solid rgb(10, 251, 130);

}

.clr4:hover{
  border: 3px solid rgb(10, 251, 130);

}

.items-container {  
  background: #333;_
  padding: 30px;
}

@media (min-width: 500px) {
.setting .tooltiptext{
position: fixed;
margin-top: 55px;

}

.nav {
  flex: 0.3.5;
}



}