/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,#28282B,#000000);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}

.amt,.form-group{
    margin-top: -20% ;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: #1F51FF;
    font-size: 28px;
    text-align: center;
}

.container{
    display: flex;
    width: 90%;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 30px;
    margin: 45px;
    margin-left: 15px;
    padding: 1px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

button{
    color: white;
    width: 80px;
    height: 55px;
    margin: 10px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}
input{
    color: white;
}
button:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
#dark-mode {
    width: 80px;
    height:55px;
}
#equal{
    background-color: #1F51FF;
    color: white;
}
#equal:hover{
    background-color: rgb(37, 36, 59);
}
input[type="text"]{
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 270px;
    height: 55px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px 3px;
}
p {
 text-align: center;
 color: white;
}

.navbar{
 padding: 15px;
 height: 40px;
 background: #111;
}
#sel1,#sel2{
color:#1F51FF;

}
.btn{
background-color:#1F51FF;
}
.amt,.input-group-text{
font-size: 20px;
color: ;
margin: 2px;
padding: 15px;
font-weight: bold;
}

.form-control{
 border-radius: 5px;
 border: 1px solid rgba(255, 255, 255, 0.5);
 background: rgba(255, 255, 255, 0.1);
 width: 80px;
 height: 40px;
 margin-left: 10px;
 }
 
 a{
 text-decoration: none;
 color: #1F51FF;
 }
 
 .icon,img{
 justify-content: center;
 align-items: center;
 margin-top: -20px;
 margin-left: 75px;
 border-radius: 15px;
 }