/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
@media (prefers-color-scheme: dark) {
  /* styles */
body{
    background: linear-gradient(to right,#28282B,#000000);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.row-1 {
    margin-top: 10px;
}

h1{
    color: #1F51FF;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90%;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 45px;
    margin-left: 15px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}

button{
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 55px;
    height: 55px;
    margin: 10px 10px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

button:hover{
    cursor: pointer;
    background-color: rgb(37, 35, 54);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}
#dark-mode {
    width: 55px;
    height:55px;

    
}
#equal{
    background-color: #1F51FF;
    color: white;
}
#equal:hover{
    background-color: rgb(37, 35, 59);
}
input[type="text"]{
    color: white;
    width: 270px;
    height: 65px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px 3px;
    background: rgba(255, 255, 255, 0.1);
    
}
p {
 text-align: center;
}

.navbar{
 padding:  15px;
 height: 40px;
 background-color: #111;
}

.operator{
color:#1F51FF; 

}

a{
text-decoration: none;
color:#1F51FF;

}

.icon,img{
justify-content: center;
align-items: center;
margin-top: -20px;
margin-left: 75px;
border-radius: 15px;
}
