@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
  font-family: 'Poppins', sans-serif;
}


:root {
  --bg-color: linear-gradient(to right, #38ef7d, #11998e); 
  --text-color: #000000;
  --nav-bar: #fff;
  --heading-color: #1F51FF;
  --load-screen: #fff;
  --icon-color: #343434;
}

body{
background: var(--bg-color);

}

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}



/* Style tab links */
.tablink {
  background-color: #eee;
  color: var(--text-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-left: 33px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.tablink:hover{
background: #1F51FF;
color: var(--text-color);
}

.navbar2 {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top:0;
  width: 100%;
  left: 0;
  height: 50px;
  color: #1F51FF;
  text-align: center;
  justify-content: center;
  padding: 5px;
}

.operator,.number{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 55px;
    height: 55px;
    margin: 5px 5px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

input[type="text"]{
    width: 270px;
    height: 65px;
    padding-left: 0px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 20px 10px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    


}

.container{
    display: flex;
    width: 90%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: -30px;
    margin-left: 17px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}


button:hover{
    cursor: pointer;
    background-color: rgb(37, 35, 59);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}

#equal{
    background-color: #1F51FF;
    color: #fff;
    
}
#equal:hover{
    background-color: rgb(37, 35, 59);
}

.operator{
color:#1F51FF; 

}

#sel1,#sel2{
color:#1F51FF; 

}

.btn{
background-color:#1F51FF;

}



.form-control,input,#dark2-mode{
 border-radius: 5px;
 border: 1px solid rgba(255, 255, 255, 0.5);
 background: rgba(255, 255, 255, 0.1);
 width: 80px;
 height: 40px;
 margin-left: 10px;
 }
 

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    width: 100%;
    font-weight:bold;
}




#select_percentage {
    margin:  1em 0;
    height: 50px;
    width:  90%;
    padding:0.5em 0.75em ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius:10px;
    color: #1F51FF;
}

.cal-btn,.reset-btn,#dark3-mode{
    margin: 20px 5px;
}
#dark3-mode,.cal-btn,.reset-btn{
    width: 80px;
    height:55px;
    
}



.cal-btn:hover {
    opacity: 0.7;
}


@media (max-width: 450px) {
    .input-item {
        flex-direction: column;
    }
}

 
 
 #dark3-mode {
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-radius: 10px;  
  
 }
 
#dark2-mode{
width: 80px;
height: 55px;
border-radius: 10px;
}


.calc{
text-align:center;
margin-left:127px;
margin-top: 200px;
}



.input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.cal-btn{
    padding:2px;
    background: #1F51FF;
    text-transform: capitalize;
    font-weight: ;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size:15px;
    color: var(--text-color);
}

.reset-btn {
    padding: ;
    background: #1F51FF;
    text-transform: capitalize;
    font-weight: ;
    border: none;
    border-radius: 10px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10px ;
    font-size:15px;
    color: var(--text-color);
}

#bill_amount,#final_amount{
    color: var(--text-color);
    width: 270px;
    height: 55px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px 3px;
    background: rgba(255, 255, 255, 0.1);
    
    }
    
.btn{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 80px;
    height: 55px;
    margin: 10px 10px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.amt,.input-group-text{
font-size: 20px;
color: var(--text-color);
margin: 2px;
padding: 15px;
font-weight: bold;
}


input[type="number"]{
    width: 270px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px 3px;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 25px;
    color: var(--text-color);
}

.btn{
background-color:#1F51FF;

}

.input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.cal-btn{
    padding:2px;
    background: #1F51FF;
    text-transform: capitalize;
    font-weight: ;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size:15px;
    color: var(--text-color);
}

.reset-btn {
    padding: ;
    background: #1F51FF;
    text-transform: capitalize;
    font-weight: ;
    border: none;
    border-radius: 10px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10px ;
    font-size:15px;
    color: var(--text-color);
}

h2,.text-2{
color: var(--text-color);

}


#loader {
  height: 100vh;
  width: 360px;
  background: #fff;
  }
  
  
  .name{
  font-size: 39px;
  color: #1F51FF;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-left:10px;
  }
  

footer{
font-family: 'Poppins', sans-serif;
font-size: 25px;
margin:  55px;
margin-top:260px;
color: #111;
}
