/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.row-1 {
    margin-top: 10px;
}
h1{
    color: #1F51FF;
    font-family: 'Poppins', sans-serif;

}

.container{
    display: flex;
    width: 90%;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 45px;
    margin-left: 15px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}

button{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 55px;
    height: 55px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

button:hover{
    cursor: pointer;
    background-color: rgb(37, 35, 59);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}
#dark-mode,.calculate{
    width: 80px;
    height:55px;

    
}
#equal{
    background-color: #1F51FF;
    color: white;
}
#equal:hover{
    background-color: rgb(37, 35, 59);
}
input[type="text"]{
    width: 270px;
    height: 45px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px 3px;
    background: rgba(255, 255, 255, 0.1);
    
}
p {
 text-align: center;
}

.navbar{
 padding:  15px;
 height: 40px;
 background-color: #fff;
}

.operator{
color:#1F51FF; 

}

a{
text-decoration: none;
color:#1F51FF;

}


.icon,img{
justify-content: center;
align-items: center;
margin-top: -20px;
margin-left: 75px;
border-radius: 15px;
}



.cal{
color: #1F51FF;
}





body {
    margin: 0;
    font-family: ;
    display: ;
    place-items: center;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
}

input {
    margin: 1em 0;
    padding: 0.5em 0.75em;
    width: 100%;
    font-weight: bold;
}

select {
    margin: 1em 0;
    height: 50px;
    width: 100%;
    padding: 0.5em 0.75em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius:10px;
    color: #1F51FF;
}

button {
    margin: 20px 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
    
}

.input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.calculate {
    padding: ;
    background: #1F51FF;
    color: #111;
    text-transform: capitalize;
    font-weight: 700;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}

.calculate:hover {
    opacity: 0.7;
}

.reset {
    padding: ;
    background: #1F51FF;
    color: #111;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    width: 80px;
    height:55px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}

@media (max-width: 450px) {
    .input-item {
        flex-direction: column;
    }
}

