@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: light) {
 
body{
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
 } 
 
  
  .navbar{
  padding: 15px;
  height: 40px;
  background-color: #fff;
  width: 500%;
  
  }
  
  .operator,.number{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 55px;
  height: 55px;
  margin: 10px 10px;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #111;
  }
  
  
  
  #loader {
  position: absolute;
  left: 25%;
  top: 45%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  font-size: 39px;
  color: #1F51FF;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  }
  
  h2{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 320%;
  left: 38%;
  color: #111;
  }
  
  
}


@media (prefers-color-scheme: dark) {

body{
background: linear-gradient(to right,#28282B,#000000);

}

.navbar{
  padding: 15px;
  background-color: #111;
  width: 500%;
  height: 40px;
  }

.operator,.number{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 55px;
    height: 55px;
    margin: 10px 10px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}



#loader {
  position: absolute;
  left: 25%;
  top: 45%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  font-size: 39px;
  color: #1F51FF;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h2{
font-family: 'Poppins', sans-serif;
font-size: 25px;
position: absolute;
top: 320%;
left: 38%;
color: #111;
}


}

h1{
    color: #1F51FF;
    font-family: 'Poppins', sans-serif;
    font-size:28px;
    text-align: center;
    margin-top: 0;
    
}

button{
  padding: 8px;
  width: 100px;
  border: 2px solid #111;
  background-color: transparent;
  color: #111;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
}

button:hover{
  transform: scale(1.05);
}

.container{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.pages {
  display: flex;
	width: 300%;
	box-sizing: border-box;	
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
  color: #111;
}


.container2{
    display: flex;
    width: 90%;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 25px;
    margin-left: 25px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}





button:hover{
    cursor: pointer;
    background-color: rgb(37, 35, 59);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}
#dark-mode {
    width: 55px;
    height:55px;

    
}
#equal{
    background-color: #1F51FF;
    color: white;
}
#equal:hover{
    background-color: rgb(37, 35, 59);
}
input[type="text"]{
    width: 270px;
    height: 65px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 30px 3px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
p {
 text-align: center;
}



.operator{
color:#1F51FF; 

}

a{
text-decoration: none;
color:#1F51FF;

}


.icon,img{
justify-content: center;
align-items: center;
margin-top: -10px;
margin-left: 5px;
border-radius: 15px;
}

.container3{
    display: flex;
    width: 90%;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 25px;
    margin-left: 35px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}

.btn{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 80px;
    height: 55px;
    margin: 10px 10px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}


.navbar2{
 padding:15px;
}

#sel1,#sel2{
color:#1F51FF; 

}

.btn{
background-color:#1F51FF;

}

.amt,.input-group-text{
font-size: 20px;
color:#fff ;
margin: 2px;
padding: 15px;
font-weight: bold;
}

.form-control,input,#dark2-mode{
 border-radius: 5px;
 border: 1px solid rgba(255, 255, 255, 0.5);
 background: rgba(255, 255, 255, 0.1);
 width: 80px;
 height: 40px;
 margin-left: 10px;
 }
 
input[type="text2"]{
    width: 270px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px 3px;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 25px;
    color: #fff;
}

.container4{
    display: flex;
    width: 90%;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 25px;
    margin-left: 35px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    width: 100%;
    font-weight:bold;
}


#discount-percentage {
    margin:  1em 0;
    height: 50px;
    width:  100%;
    padding:0.5em 0.75em ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius:10px;
    color: #1F51FF;
}

.calculate,.reset,#dark3-mode{
    margin: 20px 5px;
}
#dark3-mode,.calculate,.reset{
    width: 80px;
    height:55px;
    
}
.input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}



.calculate {
    padding:2px;
    background: #1F51FF;
    text-transform: capitalize;
    font-weight: ;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size:15px;
    color: #fff;
}

.calculate:hover {
    opacity: 0.7;
}

.reset {
    padding: ;
    background: #1F51FF;
    text-transform: capitalize;
    font-weight: ;
    border: none;
    border-radius: 10px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10px ;
    font-size:15px;
    color: #fff;
}

@media (max-width: 450px) {
    .input-item {
        flex-direction: column;
    }
}

    input[type="text3"]{
    color: #fff;
    width: 270px;
    height: 55px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px 3px;
    background: rgba(255, 255, 255, 0.1);
    
    }
    
 .navbar3{
 padding:15px;
 }
 
 #dark3-mode {
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-radius: 10px;  
  
 }
 
#dark2-mode{
width: 80px;
height: 55px;
border-radius: 10px;
}


h3{
color: #fff;

}


	

