@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
		
		body{
		font-family: 'Open Sans',sans-serif;
		background: #11998e;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right,grey,#212F3D);

		}
		#container{
                max-width: none;
		width: 90%;
		height: 90%;
		/* height: auto;
		width: auto; */
		/* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(2.png); */
		/* margin: 0px auto;	 */
		}
		.name{
		
		color:whitesmoke;
		text-align: center;
		}
		#calculator{
		width: 325px;
		height: 555px;
		padding-top: 0px;
		padding-bottom: 10px;
		margin: 0px auto;
		top: -5%;
		position: relative;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border: 1px solid rgba(255, 255, 255, 0.5);
		background: rgba(255, 255, 255, 0.1);
		
		}
		
		.cal{
		font-family: 'Poppins',sans-serif;
		font-size: 40px;
		position: relative; 
		left: 3%;
		color: #fff;
		top: -5%;
		}
		
		#result{
		height: 120px;
		}
		#history{
		text-align: right;
		height: 20px;
		margin: 0 20px;
		padding-top: 20px;
		font-size: 20px;
		color:wheat;
		}
		#output{
		text-align: right;
		height: 60px;
		margin: 10px 20px;
		font-size: 30px;
		color: wheat;
		font-family: digital-7;
		}
		#keyboard{
		height: 400px;
		}
		.operator, .number, .empty{
		width: 50px;
		height: 50px;
		margin: 15px;
		float: left;
		border-radius: 20%;
		border-width: 0;
		font-weight: bold;
		font-size: 15px;
		color: white;
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.5);
		
		}
		.number:checked, .empty{
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.5);
		}
		.number, .operator{
		cursor: pointer;
		}
		.operator:active, .number:active{
		font-size: 18px;
		}
		.operator:focus, .number:focus, .empty:focus{
		outline: 0;
		}
	       
	    .number, .operator{
	    cursor: pointer;
	    }
	    .operator:active, .number:active{
	    font-size: 18px;
	    }
	    .operator:focus, .number:focus, .empty:focus{
	    outline: 0;
	    }
	  
              .icon{
		position: relative;
		left: -10%;
		top: 29%;
		}
	 
	    .btn1{
	    position: relative;
	    left: 25%;
	    top: 8%;
	    position: relative;
	    border-radius: 5px;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    border: 1px solid rgba(255, 255, 255, 0.5);
	    background: rgba(255, 255, 255, 0.1);
	    font-size: 15px;
	    color: white;
	    margin: 6px;
	    padding: 10px;
	    font-weight: bold;
	    }
	 
	     a{
	    text-decoration: none; 
	     }
