


:root {
  --color-bg: rgb(47, 0, 90);
 
}

body {
  margin-top:80px;
  font-family: "Rubik", sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--color-bg);
  color: #fff;
  overflow: scroll;
  user-select: none;
}



.calc{
  position: relative;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  z-index: 1;
}

.display{
  position: relative;
  height: 10rem;
}

.screen {
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: scroll;
  text-align: right;
}

.operators{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: -1;
}

.buttons{
  height: 25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
 
}

.buttons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 1.2em;
}


.buttons > div:active {
  background-color: rgba(255, 255, 255, 0.5);
}

sup{
  font-size: 0.8em;
  transform: translateY(-6px);
}

.buttons .del:hover{
background: rgba(243, 0, 75, 1);
border-top-right-radius:1rem;
color: darkred;
}

.buttons .sign:hover{
background:rgb(10, 251, 130);
color: green; 
}


.buttons .num:hover{
background: #3AD2FF;
color: darkblue;
}


nav{
background:rgba(255, 255, 255, 0.2);
height: 60px;
width: 100%;
position: fixed;
top: 0;
display: flex;
align-items: center;
 justify-content: center;
 flex-wrap: wrap;
z-index:2;
}

nav .logo{
  color:rgb(10, 251, 130);
  font-size: 35px;
  font-weight: 600;
}

@media (min-width: 500px) {

.display{
height: 12rem;

}

.calc{
  width: 35rem;
}



.operators{
  width: 140px;
}

.buttons > div {
  font-size: 1.8em;
}

.screen{
font-size: 4.5em;

}



 }