*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

:root {
  --color-bg: rgb(47, 0, 90);
 
}

body {
  margin-top:90px;
  font-family: "Rubik", sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--color-bg);
  color: #fff;
  overflow: scroll;
  user-select: none;
}



.calc{
  position: relative;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  z-index: 1;
}

.display{
  position: relative;
  height: 10rem;
}

.screen {
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: right;
}

.searchBox {
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: right;
}

#bill_amount{
  position: absolute;
  bottom: 0.5rem;
  width: 94%;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: right;
}

.operators{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: -1;
}


.operators2{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
}



.buttons{
  height: 25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
 
}

.buttons2{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
 border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
}

.buttons3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
}

.buttons4{
  display: grid;
  background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  grid-template-columns: repeat(1, 1fr);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  cursor: none;
}

.buttons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 1.2em;
}


.buttons > div:active {
  background-color: rgba(255, 255, 255, 0.5);
}

sup{
  font-size: 0.8em;
  transform: translateY(-6px);
}

.buttons .del:hover{
background: rgba(243, 0, 75, 1);
border-top-right-radius:1rem;
color: darkred;
}

.buttons .sign:hover{
background:rgb(10, 251, 130);
color: green; 
}


.buttons .num:hover{
background: #3AD2FF;
color: #4682B4;
}

input[type="number"]{
background-color: transparent;
border: none;
outline: none;
color: #3AD2FF;
}

nav{
background:#282828;
height: 70px;
width: 100%;
position: fixed;
top: 0;
display: flex;
align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
z-index:2;
}

nav .logo{
  color: #eee;
  font-size: 25px;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}


nav ul li a.active,
nav ul li a:hover{
  color: rgb(10, 251, 130);
  background: var(--color-bg);
}
nav .menu-btn i{
  color: rgb(10, 251, 130);
  font-size: 35px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 20px 0 60px;

  }
  
  } 
  
@media (max-width: 920px){
  
  
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 70px;
    right: -100%;
    background: var(--color-bg);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    right: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    color: #fff;
    width: 100%;
    margin-right: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: rgb(10, 251, 130);
  }
  
}


svg{
position: fixed;
display: flex;
top:0;
left: 0;
padding: 15px;
color:rgb(10, 251, 130);
}




.rotate:hover{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color:rgb(10, 251, 130);
  transition:.5s ease-in-out;
}



.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  vertical-align:middle;
  margin:-6px 4px 0 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(10, 251, 130);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(10, 251, 130);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.setting {
 position: relative;
 display: inline-block;
}


.setting .tooltiptext {
 display: none;
 width: 210px;
 background-color: #282828;
 color: #fff;
 text-align:center;
 border-radius: 6px;
 padding: 10px;
 font-size:20px;
 font-family: "Rubik", sans-serif; 
 /* Position the tooltip */
 position: fixed;
 z-index: -1;
 margin-top:45px;
 left: 1%;
}

.setting:hover .tooltiptext {
 display: block;
}

.input-group-text{
font-size: 1.2em;
 text-align: left;
 margin: 2px;
 padding: 10px;
 font-weight: bold;
}

#sel1,#sel2,.sel3{
height: 4rem;
background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  overflow: hidden;
  cursor: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
}


#sel1:hover{
background-color:rgb(10, 251, 130);
color: green;
}

#sel2:hover{
background-color:rgb(10, 251, 130);
color: green;
}

.sel3:hover{
background-color:rgb(10, 251, 130);
color: green;
}

.btn,.btn3{
background: transparent;
height:5rem;
  overflow: hidden;
  cursor: none;
  border: none;
  outline: none;
  font-size:1.2rem;
  font-weight:500;
  color: #fff;
  padding: 10px;
  border-radius:2px;
 font-family: "Rubik", sans-serif;
}

.btn3{
font-size:1.9rem;

}


.cal-btn,.reset-btn{
background-color: transparent;
height:5rem;
  overflow: hidden;
  cursor: none;
  border: none;
  outline: none;
  font-size:1.2rem;
  font-weight:500;
  color: #fff;
  padding: 10px;
  border-radius:2px;
 font-family: "Rubik", sans-serif;
}

#btn1:hover{
background: #3AD2FF;
color:  #4682B4;
}

.cal-btn:hover{
background: #3AD2FF;
color:  #4682B4;
}

.reset-btn:hover{
background:rgb(10, 251, 130);
color: green;
}

.btn3:hover{
background: rgba(243, 0, 75, 1);
color: darkred;
}
#btn2:hover{
background:rgb(10, 251, 130);
color: green;
}

.finalValue{
color:rgb(10, 251, 130);

}

#final_amount,#discount_amount{
color:rgb(10, 251, 130);
font-size:20px;
font-weight:700;
}

#bill_amount{
color:#3AD2FF;
}

@media (min-width: 500px) {
.setting .tooltiptext{
position: fixed;
margin-top: 55px;

}




}